#restart{
	font-size: 30px;
	position: absolute;
	top: 200px;
}


*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(../img/poker.jpg);
	font-style: verdana;
}

h1{
	color: white;
	text-align: center;
	font-size: 40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#all{
	width: 1220px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#chooseColor{
	background-color: black;
	width: 300px;
	height: 50px;
	position: relative;
	border: 5px solid black;
	border-radius: 20px;
}

#colorRed{
	background-color: red;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50px;	
}

#colorOrange{
	background-color: orange;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 50px;
	border-radius: 50px;
}

#colorYellow{
	background-color: yellow;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 100px;
	border-radius: 50px;
}

#colorGreen{
	background-color: green;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 150px;
	border-radius: 50px;
}

#colorBlue{
	background-color: blue;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 200px;
	border-radius: 50px;
}

#colorPurple{
	background-color: purple;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 250px;
	border-radius: 50px;
}





#mainBoard{
	border: 2px solid black;
	width: 275px;
	height: 870px;
	background-image: url(../img/aluminium.jpg);
	position: relative;
	border-radius: 20px;
}

.myBolletje0, .myBolletje1, .myBolletje2, .myBolletje3{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	border: 2px solid black;
	display: inline-block;
	margin: 0 auto;
}

#myRow0, #myRow1, #myRow2, #myRow3, #myRow4, #myRow5, #myRow6, #myRow7, #myRow8, #myRow9, #myRow10, #myRow11{
	width: 275px;
	height: 50px;
	padding-top: 20px;
	padding-left: 25px;
	margin: 0 auto;
}







#rightBoard{
	width: 175px;
	height: 870px;
	background-color: white;
	border-radius: 20px;
	border: 2px solid black;
	position: relative;

}

.myCheckBolletje0, .myCheckBolletje1, .myCheckBolletje2, .myCheckBolletje3{
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50%;
	border: 2px solid black;
	display: inline-block;
	margin: 0 auto;
}

#myCheckRow0, #myCheckRow1, #myCheckRow2, #myCheckRow3, #myCheckRow4, #myCheckRow5, #myCheckRow6, #myCheckRow7, #myCheckRow8, #myCheckRow9, #myCheckRow10, #myCheckRow11{
	width: 175px;
	height: 50px;
	padding-top: 20px;
	padding-left: 25px;
	margin: 0 auto;
}








#test{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;

} 

#test1{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	left: 50px;
}

#test2{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	left: 100px;
}

#test3{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	left: 150px;
}



#chooseColor a{
	text-decoration: none;
}

#answerBoard{
	width: 200px;
	height: 60px;
	background-color: white;
	border-radius: 20px;
	border: 2px solid black;
	position: relative;

}