#restart{
	font-size: 30px;
	position: absolute;
	top: 200px;
}


*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(../img/poker.jpg);
	font-style: verdana;
}

h1{
	color: white;
	text-align: center;
	font-size: 40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#all{
	width: 1220px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#chooseColor{
	background-color: black;
	width: 300px;
	height: 50px;
	position: relative;
	border: 5px solid black;
	border-radius: 20px;
}

#colorRed{
	background-color: red;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50px;	
}

#colorOrange{
	background-color: orange;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 50px;
	border-radius: 50px;
}

#colorYellow{
	background-color: yellow;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 100px;
	border-radius: 50px;
}

#colorGreen{
	background-color: green;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 150px;
	border-radius: 50px;
}

#colorBlue{
	background-color: blue;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 200px;
	border-radius: 50px;
}

#colorPurple{
	background-color: purple;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 250px;
	border-radius: 50px;
}

#submit{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 30px;
	position: absolute;
	top: 75px;
	left: 85px;
	border-radius: 20px;
}






#mainBoard{
	border: 2px solid black;
	width: 275px;
	height: 870px;
	background-image: url(../img/aluminium.jpg);
	position: relative;
	border-radius: 20px;
}

.myBolletje0, .myBolletje1, .myBolletje2, .myBolletje3{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	border: 2px solid black;
	display: inline-block;
	margin: 0 auto;
}

#myRow0, #myRow1, #myRow2, #myRow3, #myRow4, #myRow5, #myRow6, #myRow7, #myRow8, #myRow9, #myRow10, #myRow11{
	width: 275px;
	height: 50px;
	padding-top: 20px;
	padding-left: 25px;
	margin: 0 auto;
}






#rightBoard{
	width: 200px;
	height: 870px;
	background-color: white;
	border-radius: 20px;
	border: 2px solid black;
	position: relative;

}


#test{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 200px;
	left: 500px;
} 

#test1{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 200px;
	left: 550px;
}

#test2{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 200px;
	left: 600px;
}

#test3{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 200px;
	left: 650px;
}

#checkRow1 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 790px;
	left: 70px;
	display: none;
	
}

#checkRow1 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 790px;
	right: 70px;
	display: none;
	
}

#checkRow1 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 820px;
	left: 70px;
	display: none;

}


#checkRow1 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 820px;
	right: 70px;
	display: none;

}

#checkRow2 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 720px;
	left: 70px;
	display: none;
	
}

#checkRow2 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 720px;
	right: 70px;
	display: none;
	
}

#checkRow2 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 750px;
	left: 70px;
	display: none;

}


#checkRow2 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 750px;
	right: 70px;
	display: none;

}

#checkRow3 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 650px;
	left: 70px;
	display: none;
	
}

#checkRow3 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 650px;
	right: 70px;
	display: none;
	
}

#checkRow3 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 680px;
	left: 70px;
	display: none;

}


#checkRow3 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 680px;
	right: 70px;
	display: none;

}

#checkRow4 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 580px;
	left: 70px;
	display: none;
	
}

#checkRow4 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 580px;
	right: 70px;
	display: none;
	
}

#checkRow4 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 610px;
	left: 70px;
	display: none;

}


#checkRow4 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 610px;
	right: 70px;
	display: none;

}

#checkRow5 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 510px;
	left: 70px;
	display: none;
	
}

#checkRow5 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 510px;
	right: 70px;
	display: none;
	
}

#checkRow5 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 540px;
	left: 70px;
	display: none;

}


#checkRow5 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 540px;
	right: 70px;
	display: none;

}

#checkRow6 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 440px;
	left: 70px;
	display: none;
	
}

#checkRow6 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 440px;
	right: 70px;
	display: none;
	
}

#checkRow6 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 470px;
	left: 70px;
	display: none;

}


#checkRow6 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 470px;
	right: 70px;
	display: none;

}

#checkRow7 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 370px;
	left: 70px;
	display: none;
	
}

#checkRow7 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 370px;
	right: 70px;
	display: none;
	
}

#checkRow7 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 400px;
	left: 70px;
	display: none;

}


#checkRow7 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 400px;
	right: 70px;
	display: none;

}

#checkRow8 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 300px;
	left: 70px;
	display: none;
	
}

#checkRow8 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 300px;
	right: 70px;
	display: none;
	
}

#checkRow8 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 330px;
	left: 70px;
	display: none;

}


#checkRow8 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 330px;
	right: 70px;
	display: none;

}

#checkRow9 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 230px;
	left: 70px;
	display: none;
	
}

#checkRow9 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 230px;
	right: 70px;
	display: none;
	
}

#checkRow9 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 260px;
	left: 70px;
	display: none;

}


#checkRow9 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 260px;
	right: 70px;
	display: none;

}

#checkRow10 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 160px;
	left: 70px;
	display: none;
	
}

#checkRow10 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 160px;
	right: 70px;
	display: none;
	
}

#checkRow10 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 190px;
	left: 70px;
	display: none;

}


#checkRow10 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 190px;
	right: 70px;
	display: none;

}

#checkRow11 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 90px;
	left: 70px;
	display: none;
	
}

#checkRow11 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 90px;
	right: 70px;
	display: none;
	
}

#checkRow11 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 120px;
	left: 70px;
	display: none;

}


#checkRow11 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 120px;
	right: 70px;
	display: none;

}


#checkRow12 .check0{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 20px;
	left: 70px;
	display: none;
	
}

#checkRow12 .check1{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 20px;
	right: 70px;
	display: none;
	
}

#checkRow12 .check2{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 50px;
	left: 70px;
	display: none;

}


#checkRow12 .check3{
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	top: 50px;
	right: 70px;
	display: none;

}

#chooseColor a{
	text-decoration: none;
}


#myButton{
	width: 50px;
	height: 50px;
}